In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("./data/clean/wealth_random_points.csv")
df["iso2"] = df["DHSID"].str[0:2]
df.head()

,DHSID,DHSYEAR,DHSCLUST,folder,buffer_siz,hv001,hv271,geometry,n_points,random_points,val,cumsum,iso2
0,TJ201200000001,2012.0,1.0,TJHR61DT,2,1,145477.117647,POLYGON ((68.88794271334848 38.569199590204015...,10,"(68.84219607581161, 38.54779995220505)",1,1,TJ
1,TJ201200000001,2012.0,1.0,TJHR61DT,2,1,145477.117647,POLYGON ((68.88794271334848 38.569199590204015...,10,"(68.87331251933064, 38.54918485240964)",1,2,TJ
2,TJ201200000001,2012.0,1.0,TJHR61DT,2,1,145477.117647,POLYGON ((68.88794271334848 38.569199590204015...,10,"(68.8866747795152, 38.54992878674837)",1,3,TJ
3,TJ201200000001,2012.0,1.0,TJHR61DT,2,1,145477.117647,POLYGON ((68.88794271334848 38.569199590204015...,10,"(68.84437677173773, 38.563774429916045)",1,4,TJ
4,TJ201200000001,2012.0,1.0,TJHR61DT,2,1,145477.117647,POLYGON ((68.88794271334848 38.569199590204015...,10,"(68.8778089055472, 38.53778843006256)",1,5,TJ

In [9]:
import os

done = os.listdir("../imagery/")
done

['.ipynb_checkpoints',
 'CI',
 'HT',
 'HN',
 'LB',
 'BO',
 'BJ',
 'GH',
 'CO',
 'NG',
 'RW']

In [13]:
vc = pd.DataFrame(df["iso2"].value_counts()).reset_index()
vc[~vc["index"].isin(done)]

   index     iso2
0     IA  1011280
1     EG    67720
4     PH    44290
10    AL    17210
11    NM    16200
14    TJ    11140

In [15]:
len("""Afghanistan, Albania, Angola, Armenia, Bangladesh, Bolivia, Burkina Faso, Burundi, Cambodia, Cameroon, Central
African Republic, Chad, Colombia, Comoros, Congo Democratic Republic, Cote d'Ivoire, Dominican Republic, Egypt,
Eritrea, Eswatini, Ethiopia, Gabon, Gambia, Ghana, Guatemala, Guinea, Guyana, Haiti, Honduras, India, Indonesia,
Jordan, Kenya, Kyrgyz Republic, Lesotho, Liberia, Madagascar, Malawi, Mali, Mauritania, Moldova, Morocco,
Mozambique, Myanmar, Namibia, Nepal, Niger, Nigeria, Pakistan, Peru, Philippines, Rwanda, Senegal, Sierra Leone,
South Africa, Tajikistan, Tanzania, Timor-Leste, Togo, Uganda, Uzbekistan, Zambia, Zimbabwe""".split(","))

63

In [22]:
t = df[df["iso2"] == "NM"]
t["longitude"] = t["random_points"].str.split(",").str[0].str.replace("(", "").astype(float)
t["latitude"] = t["random_points"].str.split(",").str[1].str.replace(")", "").astype(float)
t.drop(["geometry"], axis = 1).to_csv("./NM2.csv")

/tmp/ipykernel_108882/1744989203.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  t["longitude"] = t["random_points"].str.split(",").str[0].str.replace("(", "").astype(float)
/tmp/ipykernel_108882/1744989203.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t["longitude"] = t["random_points"].str.split(",").str[0].str.replace("(", "").astype(float)
/tmp/ipykernel_108882/1744989203.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  t["latitude"] = t["random_points"].str.split(",").str[1].str.replace(")", "").astype(float)
/tmp/ipykernel_108882/1744989203.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t["latitude"] = t["random_points"].str.split(",").str[1].str.replace(")", "").astype(float)

In [23]:
t

,DHSID,DHSYEAR,DHSCLUST,folder,buffer_siz,hv001,hv271,geometry,n_points,random_points,val,cumsum,iso2,longitude,latitude
1335560,NM200600000001,2006.0,1.0,NMHR51DT,2,1,116761.333333,"POLYGON ((18.41580896813047 72.51022733807616,...",10,"(18.32188965106313, 72.50254287671156)",1,1,NM,18.321890,72.502543
1335561,NM200600000001,2006.0,1.0,NMHR51DT,2,1,116761.333333,"POLYGON ((18.41580896813047 72.51022733807616,...",10,"(18.376476227338358, 72.47354138628249)",1,2,NM,18.376476,72.473541
1335562,NM200600000001,2006.0,1.0,NMHR51DT,2,1,116761.333333,"POLYGON ((18.41580896813047 72.51022733807616,...",10,"(18.415885729770277, 72.48521033737352)",1,3,NM,18.415886,72.485210
1335563,NM200600000001,2006.0,1.0,NMHR51DT,2,1,116761.333333,"POLYGON ((18.41580896813047 72.51022733807616,...",10,"(18.368645642969234, 72.50095372953459)",1,4,NM,18.368646,72.500954
1335564,NM200600000001,2006.0,1.0,NMHR51DT,2,1,116761.333333,"POLYGON ((18.41580896813047 72.51022733807616,...",10,"(18.426284400478163, 72.50414453304806)",1,5,NM,18.426284,72.504145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1351755,NM201300000554,2013.0,554.0,NMHR61DT,2,554,152638.625000,POLYGON ((13.872712758510882 67.27715620916808...,10,"(13.846706862392818, 67.2710108601636)",1,6,NM,13.846707,67.271011
1351756,NM201300000554,2013.0,554.0,NMHR61DT,2,554,152638.625000,POLYGON ((13.872712758510882 67.27715620916808...,10,"(13.826317825933343, 67.27526606643322)",1,7,NM,13.826318,67.275266
1351757,NM201300000554,2013.0,554.0,NMHR61DT,2,554,152638.625000,POLYGON ((13.872712758510882 67.27715620916808...,10,"(13.861783010308264, 67.27084834417836)",1,8,NM,13.861783,67.270848
1351758,NM201300000554,2013.0,554.0,NMHR61DT,2,554,152638.625000,POLYGON ((13.872712758510882 67.27715620916808...,10,"(13.830405051401039, 67.2737855674321)",1,9,NM,13.830405,67.273786
1351759,NM201300000554,2013.0,554.0,NMHR61DT,2,554,152638.625000,POLYGON ((13.872712758510882 67.27715620916808...,10,"(13.8578011137449, 67.26534204875213)",1,10,NM,13.857801,67.265342

In [24]:
import geopandas as gpd

In [91]:
gdf = gpd.read_file("./data/clean/shps/wealth_points.shp")
gdf = gdf[gdf["DHSCC"] == "NM"]
gdf.head()

,DHSID,DHSCC,DHSYEAR,DHSCLUST,CCFIPS,ADM1FIPS,ADM1FIPSNA,ADM1SALBNA,ADM1SALBCO,ADM1DHS,...,DATUM,geo_folder,iso2,buffer_siz,hv007,hv001,folder,hv271,n_points,geometry
80430,NM200600000001,NM,2006.0,1.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,WGS84,NMGE53FL,NM,2,2006,1,NMHR51DT,116761.333333,10,POINT (24.27800 -17.48793)
80431,NM200600000002,NM,2006.0,2.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,WGS84,NMGE53FL,NM,2,2006,2,NMHR51DT,31992.157895,10,POINT (24.28234 -17.49987)
80432,NM200600000003,NM,2006.0,3.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,WGS84,NMGE53FL,NM,2,2006,3,NMHR51DT,79578.833333,10,POINT (24.28557 -17.48642)
80433,NM200600000004,NM,2006.0,4.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,WGS84,NMGE53FL,NM,2,2006,4,NMHR51DT,91744.473684,10,POINT (24.28645 -17.49745)
80434,NM200600000005,NM,2006.0,5.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,WGS84,NMGE53FL,NM,2,2006,5,NMHR51DT,-25039.230769,10,POINT (24.25740 -17.50275)

In [89]:
gdf["DHSCC"].value_counts()

IA    57060
CO     4987
EG     4462
NG     3533
PH     2860
RW     1946
IN     1634
BJ     1305
GH     1250
HT     1234
AL     1165
HN     1148
NM     1050
BO     1000
LB      945
TJ      722
CI      351
Name: DHSCC, dtype: int64

In [86]:
gdf.shape

(1050, 29)

In [35]:
# gdf = gdf[0:100]

In [36]:
from utils import *

In [92]:
def buffer_point(x1, x2, x3):
        
    # Get the point specific utm zone and projected coordinates
    x, y, zone, hem = utm.from_latlon(x1.y, x1.x)
    
    if hem == "N":
        hem = "north"
    else:
        hem = "south"
    
    # Create the projection variables
    wgs84 = pyproj.CRS('EPSG:4326')
    utm_proj = pyproj.CRS.from_proj4(f"+proj=utm +lat_0={str(x1.x)} +lon_0={str(x1.y)} +datum=WGS84 +units=m +zone={str(zone)} +{hem} +no_defs +ellps=WGS84 +towgs84=0,0,0")
    projection_back = pyproj.Transformer.from_crs(utm_proj, wgs84, always_xy=True).transform
    
    # Create the Point and buffer it
    p = gpd.GeoSeries([Point(x, y)]).buffer(x3 * 1000, cap_style = 3)
    
    # Project the polygon buffer back to 4326
    box = Polygon(shapely.ops.transform(projection_back, p[0]))
        
    return [box, zone, hem]

In [93]:
gdf["buffer_info"] = gdf.apply(lambda x: buffer_point(x.geometry, x.DHSCC, x.buffer_siz), axis=1)
gdf[["box", 'utm_zone', "hemisphere"]] = pd.DataFrame(gdf.buffer_info.tolist(), index = gdf.index)
gdf = gdf.drop(["buffer_info", "geometry"], axis = 1)
gdf = gpd.GeoDataFrame(gdf, geometry = "box")

In [94]:
gdf.shape

(1050, 31)

In [95]:
gdf.head()

,DHSID,DHSCC,DHSYEAR,DHSCLUST,CCFIPS,ADM1FIPS,ADM1FIPSNA,ADM1SALBNA,ADM1SALBCO,ADM1DHS,...,iso2,buffer_siz,hv007,hv001,folder,hv271,n_points,box,utm_zone,hemisphere
80430,NM200600000001,NM,2006.0,1.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,NM,2,2006,1,NMHR51DT,116761.333333,10,"POLYGON ((24.29708 -17.47013, 24.29655 -17.506...",35,south
80431,NM200600000002,NM,2006.0,2.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,NM,2,2006,2,NMHR51DT,31992.157895,10,"POLYGON ((24.30143 -17.48207, 24.30090 -17.518...",35,south
80432,NM200600000003,NM,2006.0,3.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,NM,2,2006,3,NMHR51DT,79578.833333,10,"POLYGON ((24.30465 -17.46862, 24.30412 -17.504...",35,south
80433,NM200600000004,NM,2006.0,4.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,NM,2,2006,4,NMHR51DT,91744.473684,10,"POLYGON ((24.30553 -17.47965, 24.30500 -17.515...",35,south
80434,NM200600000005,NM,2006.0,5.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,NM,2,2006,5,NMHR51DT,-25039.230769,10,"POLYGON ((24.27649 -17.48495, 24.27595 -17.521...",35,south

In [96]:
gdf.to_file("NM.shp")

In [97]:
gdf2 = gpd.read_file("./data/clean/shps/wealth_buffers.shp")
gdf2

,DHSID,DHSCC,DHSYEAR,DHSCLUST,CCFIPS,ADM1FIPS,ADM1FIPSNA,ADM1SALBNA,ADM1SALBCO,ADM1DHS,...,iso2,buffer_siz,hv007,hv001,folder,hv271,n_points,utm_zone,hemisphere,geometry
0,TJ201200000001,TJ,2012.0,1.0,TI,TI04,Dushanbe,NULL,NULL,1.0,...,TJ,2,2012,1,TJHR61DT,145477.117647,10,42,S,"POLYGON ((68.88794 38.56920, 68.88800 38.53315..."
1,TJ201200000002,TJ,2012.0,2.0,TI,TI04,Dushanbe,NULL,NULL,1.0,...,TJ,2,2012,2,TJHR61DT,23204.764706,10,42,S,"POLYGON ((68.85776 38.58560, 68.85783 38.54955..."
2,TJ201200000003,TJ,2012.0,3.0,TI,TI04,Dushanbe,NULL,NULL,1.0,...,TJ,2,2012,3,TJHR61DT,-2363.333333,10,42,S,"POLYGON ((68.83717 38.58138, 68.83726 38.54533..."
3,TJ201200000004,TJ,2012.0,4.0,TI,TI04,Dushanbe,NULL,NULL,1.0,...,TJ,2,2012,4,TJHR61DT,135556.533333,10,42,S,"POLYGON ((68.84623 38.57644, 68.84630 38.54039..."
4,TJ201200000005,TJ,2012.0,5.0,TI,TI04,Dushanbe,NULL,NULL,1.0,...,TJ,2,2012,5,TJHR61DT,33137.900000,10,42,S,"POLYGON ((68.81941 38.58449, 68.81950 38.54844..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86647,TJ201700000362,TJ,2017.0,362.0,TI,NULL,NULL,NULL,NULL,5.0,...,TJ,5,2017,362,TJHR72DT,-65437.818182,20,42,S,"POLYGON ((71.71469 37.57646, 71.71142 37.48643..."
86648,TJ201700000363,TJ,2017.0,363.0,TI,NULL,NULL,NULL,NULL,5.0,...,TJ,5,2017,363,TJHR72DT,-61389.333333,20,42,S,"POLYGON ((71.79817 37.65386, 71.79480 37.56383..."
86649,TJ201700000364,TJ,2017.0,364.0,TI,NULL,NULL,NULL,NULL,5.0,...,TJ,5,2017,364,TJHR72DT,-83456.500000,20,42,S,"POLYGON ((71.88765 37.69141, 71.88416 37.60139..."
86650,TJ201700000365,TJ,2017.0,365.0,TI,NULL,NULL,NULL,NULL,5.0,...,TJ,5,2017,365,TJHR72DT,-99577.545455,20,43,S,"POLYGON ((72.10562 37.80245, 72.10913 37.71243..."
86651,TJ201700000366,TJ,2017.0,366.0,TI,NULL,NULL,NULL,NULL,5.0,...,TJ,5,2017,366,TJHR72DT,-125221.318182,20,43,S,"POLYGON ((72.42352 37.74499, 72.42663 37.65495..."

In [99]:
gdf2 = gdf2[gdf2["DHSCC"] != "NM"]

In [98]:
gdf2[gdf2["DHSCC"] == "NM"].shape
# buffer_point

(1050, 31)

In [101]:
t = gpd.read_file("./NM.shp")
t

,DHSID,DHSCC,DHSYEAR,DHSCLUST,CCFIPS,ADM1FIPS,ADM1FIPSNA,ADM1SALBNA,ADM1SALBCO,ADM1DHS,...,iso2,buffer_siz,hv007,hv001,folder,hv271,n_points,utm_zone,hemisphere,geometry
0,NM200600000001,NM,2006.0,1.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,NM,2,2006,1,NMHR51DT,116761.333333,10,35,south,"POLYGON ((24.29708 -17.47013, 24.29655 -17.506..."
1,NM200600000002,NM,2006.0,2.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,NM,2,2006,2,NMHR51DT,31992.157895,10,35,south,"POLYGON ((24.30143 -17.48207, 24.30090 -17.518..."
2,NM200600000003,NM,2006.0,3.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,NM,2,2006,3,NMHR51DT,79578.833333,10,35,south,"POLYGON ((24.30465 -17.46862, 24.30412 -17.504..."
3,NM200600000004,NM,2006.0,4.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,NM,2,2006,4,NMHR51DT,91744.473684,10,35,south,"POLYGON ((24.30553 -17.47965, 24.30500 -17.515..."
4,NM200600000005,NM,2006.0,5.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,NM,2,2006,5,NMHR51DT,-25039.230769,10,35,south,"POLYGON ((24.27649 -17.48495, 24.27595 -17.521..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045,NM201300000550,NM,2013.0,550.0,WA,WA21,Khomas,Khomas,NAM006,6.0,...,NM,2,2013,550,NMHR61DT,129690.526316,10,33,south,"POLYGON ((17.06776 -22.52479, 17.06830 -22.560..."
1046,NM201300000551,NM,2013.0,551.0,WA,WA21,Khomas,Khomas,NAM006,6.0,...,NM,2,2013,551,NMHR61DT,-56750.266667,10,33,south,"POLYGON ((17.07156 -22.46787, 17.07210 -22.503..."
1047,NM201300000552,NM,2013.0,552.0,WA,WA38,Oshikoto,Oshikoto,NAM012,12.0,...,NM,2,2013,552,NMHR61DT,-8577.850000,10,33,south,"POLYGON ((16.58297 -18.36809, 16.58330 -18.404..."
1048,NM201300000553,NM,2013.0,553.0,WA,WA38,Oshikoto,Oshikoto,NAM012,12.0,...,NM,5,2013,553,NMHR61DT,-81633.928571,20,33,south,"POLYGON ((16.38579 -18.40911, 16.38651 -18.499..."
1049,NM201300000554,NM,2013.0,554.0,WA,WA29,Erongo,Erongo,NAM002,2.0,...,NM,2,2013,554,NMHR61DT,152638.625000,10,33,south,"POLYGON ((14.52607 -22.94294, 14.52594 -22.979..."

In [103]:
gdf2.append(t).to_file("./data/clean/shps/wealth_buffers.shp")

/tmp/ipykernel_108882/3402973228.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  gdf2.append(t).to_file("./data/clean/shps/wealth_buffers.shp")

In [107]:
t2 = gdf2.append(t)
t2 = t2[t2["DHSCC"] == "NM"]
t2.head()

/tmp/ipykernel_108882/2882863830.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  t2 = gdf2.append(t)

,DHSID,DHSCC,DHSYEAR,DHSCLUST,CCFIPS,ADM1FIPS,ADM1FIPSNA,ADM1SALBNA,ADM1SALBCO,ADM1DHS,...,iso2,buffer_siz,hv007,hv001,folder,hv271,n_points,utm_zone,hemisphere,geometry
0,NM200600000001,NM,2006.0,1.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,NM,2,2006,1,NMHR51DT,116761.333333,10,35,south,"POLYGON ((24.29708 -17.47013, 24.29655 -17.506..."
1,NM200600000002,NM,2006.0,2.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,NM,2,2006,2,NMHR51DT,31992.157895,10,35,south,"POLYGON ((24.30143 -17.48207, 24.30090 -17.518..."
2,NM200600000003,NM,2006.0,3.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,NM,2,2006,3,NMHR51DT,79578.833333,10,35,south,"POLYGON ((24.30465 -17.46862, 24.30412 -17.504..."
3,NM200600000004,NM,2006.0,4.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,NM,2,2006,4,NMHR51DT,91744.473684,10,35,south,"POLYGON ((24.30553 -17.47965, 24.30500 -17.515..."
4,NM200600000005,NM,2006.0,5.0,WA,NULL,NULL,Caprivi,NAM001,1.0,...,NM,2,2006,5,NMHR51DT,-25039.230769,10,35,south,"POLYGON ((24.27649 -17.48495, 24.27595 -17.521..."

In [108]:
t2.shape

(1050, 31)

In [109]:
# gdf = gpd.read_file("./data/clean/shps/wealth_buffers.shp")
t['random_points'] = t.apply(lambda x: gen_random_points(x['geometry'], x['n_points']), axis = 1)
t = t[["DHSID", "DHSYEAR", "DHSCLUST", "folder", "buffer_siz", "hv001", "hv271", "geometry", "n_points", "random_points"]]
t = t.explode('random_points')
t["val"] = 1
t['cumsum'] = t[["DHSID", 'val']].groupby('DHSID').cumsum()

#     gdf.to_csv("./data/clean/wealth_random_points.csv", index = False)

In [113]:
t["iso2"] = "NM"
t.head()

,DHSID,DHSYEAR,DHSCLUST,folder,buffer_siz,hv001,hv271,geometry,n_points,random_points,val,cumsum,iso2
0,NM200600000001,2006.0,1.0,NMHR51DT,2,1,116761.333333,"POLYGON ((24.29708 -17.47013, 24.29655 -17.506...",10,"(24.267659442115942, -17.504019611837624)",1,1,NM
0,NM200600000001,2006.0,1.0,NMHR51DT,2,1,116761.333333,"POLYGON ((24.29708 -17.47013, 24.29655 -17.506...",10,"(24.25994686947705, -17.495555964768144)",1,2,NM
0,NM200600000001,2006.0,1.0,NMHR51DT,2,1,116761.333333,"POLYGON ((24.29708 -17.47013, 24.29655 -17.506...",10,"(24.271274307778118, -17.477171275827175)",1,3,NM
0,NM200600000001,2006.0,1.0,NMHR51DT,2,1,116761.333333,"POLYGON ((24.29708 -17.47013, 24.29655 -17.506...",10,"(24.28353719751179, -17.488469572546546)",1,4,NM
0,NM200600000001,2006.0,1.0,NMHR51DT,2,1,116761.333333,"POLYGON ((24.29708 -17.47013, 24.29655 -17.506...",10,"(24.28876880583629, -17.485067622984765)",1,5,NM

In [115]:
x = pd.read_csv("./data/clean/wealth_random_points.csv")
x["iso2"] = x["DHSID"].str[0:2]
x = x[x["iso2"] != "NM"]
x.head()

,DHSID,DHSYEAR,DHSCLUST,folder,buffer_siz,hv001,hv271,geometry,n_points,random_points,val,cumsum,iso2
0,TJ201200000001,2012.0,1.0,TJHR61DT,2,1,145477.117647,POLYGON ((68.88794271334848 38.569199590204015...,10,"(68.84219607581161, 38.54779995220505)",1,1,TJ
1,TJ201200000001,2012.0,1.0,TJHR61DT,2,1,145477.117647,POLYGON ((68.88794271334848 38.569199590204015...,10,"(68.87331251933064, 38.54918485240964)",1,2,TJ
2,TJ201200000001,2012.0,1.0,TJHR61DT,2,1,145477.117647,POLYGON ((68.88794271334848 38.569199590204015...,10,"(68.8866747795152, 38.54992878674837)",1,3,TJ
3,TJ201200000001,2012.0,1.0,TJHR61DT,2,1,145477.117647,POLYGON ((68.88794271334848 38.569199590204015...,10,"(68.84437677173773, 38.563774429916045)",1,4,TJ
4,TJ201200000001,2012.0,1.0,TJHR61DT,2,1,145477.117647,POLYGON ((68.88794271334848 38.569199590204015...,10,"(68.8778089055472, 38.53778843006256)",1,5,TJ

In [116]:
x.shape

(1420280, 13)

In [118]:
x.append(t).to_csv("./data/clean/wealth_random_points.csv", index = False)

/tmp/ipykernel_108882/502627956.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  x.append(t).to_csv("./data/clean/wealth_random_points.csv", index = False)

In [119]:
t.shape

(16200, 13)

In [120]:
t.to_csv("nm_points.csv")